<!-- templates/signup.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Sign Up{% endblock %}
{% block style %}

	body{
		background-image: url("{% static 'images/bac.jpeg' %} ");
		background-repeat: no-repeat;
		background-size: cover; 
	}

{% endblock style %}

{% block content %}
<div class="container" style="margin-top:200px;background-color: #fff6;width: 450px;">
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}